.InputDiv {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.InputElement {
  width: 100%;
  font: inherit;
  outline: none;
  padding: 6px 10px;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #ddd;
}
.textAreaElement {
}

.labelElement {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}
