.InputDiv {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.InputElement {
  width: 100%;
  font: inherit;
  outline: none;
  padding: 6px 10px;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: #ddd;
}
.TextAreaElement {
}

.labelElement {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.SelectElement {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.Invalid {
  outline: none;
  border: 1px solid #ff0000;
  background-color: #fa8072;
  box-sizing: border-box;
}

.Invalid:focus {
  outline: none;
  border-top: 2px solid #ff0000;
  border-left: 2px solid #ff0000;
  border-bottom: 2px solid #f58989;
  border-right: 2px solid #f58989;
  background-color: #fa8072;
  box-sizing: border-box;
}
